[submodule "cli"]
	path = cli
	url = git@github.com:Axon-AI-Net/axon-cli.git
	branch = main
[submodule "server"]
	path = server
	url = git@github.com:Axon-AI-Net/axon-server.git
	branch = main
[submodule "sandbox"]
	path = sandbox
	url = git@github.com:Axon-AI-Net/axon-sandbox.git
	branch = main
